/*Specials page css*/

.stopfade { 
   opacity: 0.5;
}

#videobmw
{ 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover; 
    opacity: 0.5;
}

@media screen and (max-width: 500px) { 
  div{width:70%;} 
}
@media screen and (max-device-width: 800px) {
  
  #bgvid { display: none; }
}

#logoDivShow {
width: 0;
margin-left:5%;
}

@media (min-width:1981px)
{
 .logoDivMenu  :nth-child(1) { font-size: 45px; letter-spacing: 1px;}
.logoDivMenu  :nth-child(2) { font-size: 45px; letter-spacing: 1px; }
.logoDivMenu  :nth-child(3) { font-size: 45px; letter-spacing: 1px; }
.logoDivMenu  :nth-child(4) { font-size: 45px; letter-spacing: 1px; }
.logoDivMenu  :nth-child(n) { font-size: 45px; letter-spacing: 1px; }
.logoDivMenu  :hover { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); text-shadow: 3px 3px 3px #333; }

.mute {font:  Helvetica, Arial, Sans-Serif; 
display:block;
position:absolute;
     color: whitesmoke;
  margin-top: 0;
  margin-bottom:0;
        font-size: 30px;
    text-shadow: 1.5px 1.5px black;
}
.mute:active{color:#829292;}
.mute:hover { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); text-shadow: 3px 3px 3px #333; 
  font:  Helvetica, Arial, Sans-Serif;
  -webkit-transition: all 0.12s ease-out;
   -moz-transition: all 0.12s ease-out;
   -o-transition: all 0.12s ease-out;
   display:block;
   cursor:pointer;
}

 #logo 
{
    display:show;
width: 80px;
border-radius: 500px;
}

.logoDivMenu 
{
   text-transform: uppercase; font:  Helvetica, Arial, Sans-Serif;
  -webkit-transition: all 0.12s ease-out;
   -moz-transition: all 0.12s ease-out;
   -o-transition: all 0.12s ease-out;
    display: inline-block;
    height: 85px;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    text-shadow:1.5px 1.5px black;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
    padding-top: 1.5%;
}

.logoDivMenu a
{
    position: static;
    text-decoration: none;
    font-size: 45px;
    color: menu;
    display: inline-block;
    transition: 0.5s;
    padding-right: 5%;
    padding-left: 0.5%;
   }
.logoDivMenu .closebtn 
{
    position: fixed;
    top: 0;
    right: 55px;
    font-size: 50px;
    margin-left: 50px;
}       
    
#bmw 
{ 
    font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
    text-shadow: 2px 2px 10px black;
    background: rgba(0,0,0,0.3);
    color: white;
    margin-top: 5%;
    margin-right: 1%;
    margin-left: 1%;
    padding: 2%;
    height:400px;
    font-size: 21px;
    padding-top: 1px;
}
    
#table
{
   
   width:55%;
    margin-left: 45%;
    text-shadow: 2px 2px 2px black;
    box-shadow: 5px 5px 20px 7px black;
}
    
#tableb
{
   width:55%;
    margin-left: 45%;
    text-shadow: 2px 2px 2px black;
    box-shadow: 5px 5px 20px 7px black;
}
    
#table2
{
   width:55%;
    margin-left: 45%;
    text-shadow: 2px 2px 2px black;
    box-shadow: 5px 5px 20px 7px black;
}
    
#table9
{
   width:55%;
    margin-left: 45%;
    text-shadow: 2px 2px 2px black;
    box-shadow: 5px 5px 20px 7px black;
}
th 
{
    font-size: 20px;
    background-color: rgba(47, 47, 47, 0.6);
}
td
{
    background-color: rgba(47, 47, 47, 0.6);
}

.imgtable1
    {
        border-color:#80a2cb;
        border-width: 2px;
        box-shadow: 5px 5px 20px 7px black;
        position:absolute;
        width:550px;
        height: 360px;
        
    }

.imgtable2
    {
        
        border-color:#80a2cb;
        border-width: 2px;
        box-shadow: 5px 5px 20px 7px black;
        position:absolute;
        width:550px;
        height: 360px;
    }

.imgtableb
    {
        border-color:#80a2cb;
        border-width: 2px;
        box-shadow: 5px 5px 20px 7px black;
        position:absolute;
        width:550px;
        height: 360px;
    }
    
.imgtable9
    {
        border-color:#80a2cb;
        border-width: 2px;
        box-shadow: 5px 5px 20px 7px black;
        position:absolute;
        width:550px;
        height: 360px;
    }
.leftbtn
    { 
        cursor:pointer;
        position:absolute;
        z-index: 1;
        background-color: rgba(47, 47, 47, 0.27);
        font-size: 50px;
        margin-top: 10%;
    }
.rightbtn
    { 
        cursor:pointer;
        position:absolute;
        margin-left: 530px;
        z-index: 1;
        background-color:rgba(47, 47, 47, 0.27);
        font-size: 50px;
        margin-top: 10%;
    }
    
h1,h2
    {
       font-family: 'Orbitron', sans-serif;
    }
    
#displayText 
{
    color: whitesmoke;
    font-size: 35px;
    font-family: 'Orbitron', sans-serif;
    text-decoration:none;
}
    
#displayTextb 
{
    color: whitesmoke;
    font-size: 35px;
    font-family: 'Orbitron', sans-serif;
    text-decoration:none;
}
    
#displayTextg
{
    color: whitesmoke;
    font-size: 35px;
    font-family: 'Orbitron', sans-serif;
    text-decoration:none;
}
 
#displayText9
{
    color: whitesmoke;
    font-size: 35px;
    font-family: 'Orbitron', sans-serif;
    text-decoration:none;
}

#homePage {
    padding-left:1%;
    font:  Helvetica, Arial, Sans-Serif; 
    position:fixed;
    bottom:0;
    color: whitesmoke;
    background:none;
    font-size: 30px;
    text-shadow: 1.5px 1.5px black;
    }
   
    #homePage :hover { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); text-shadow: 3px 3px 3px #333; 
  font:  Helvetica, Arial, Sans-Serif;
  -webkit-transition: all 0.12s ease-out;
   -moz-transition: all 0.12s ease-out;
   -o-transition: all 0.12s ease-out;
   display:inline-block;
}
}


@media screen and (max-width: 1980px) 
{
 .logoDivMenu  :nth-child(1) { font-size: 45px; letter-spacing: 1px;}
.logoDivMenu  :nth-child(2) { font-size: 45px; letter-spacing: 1px; }
.logoDivMenu  :nth-child(3) { font-size: 45px; letter-spacing: 1px; }
.logoDivMenu  :nth-child(4) { font-size: 45px; letter-spacing: 1px; }
.logoDivMenu  :nth-child(n) { font-size: 45px; letter-spacing: 1px; }
.logoDivMenu  :hover { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); text-shadow: 3px 3px 3px #333; }

.mute {font:  Helvetica, Arial, Sans-Serif; 
display:block;
position:absolute;
     color: whitesmoke;
  margin-top: 0;
  margin-bottom:0;
        font-size: 30px;
    text-shadow: 1.5px 1.5px black;
}
.mute:active{color:#829292;}
.mute:hover { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); text-shadow: 3px 3px 3px #333; 
  font:  Helvetica, Arial, Sans-Serif;
  -webkit-transition: all 0.12s ease-out;
   -moz-transition: all 0.12s ease-out;
   -o-transition: all 0.12s ease-out;
   display:block;
   cursor:pointer;
}

 #logo 
{
    display:show;
width: 80px;
border-radius: 500px;
}

.logoDivMenu 
{
   text-transform: uppercase; font:  Helvetica, Arial, Sans-Serif;
  -webkit-transition: all 0.12s ease-out;
   -moz-transition: all 0.12s ease-out;
   -o-transition: all 0.12s ease-out;
    display: inline-block;
    height: 85px;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    text-shadow:1.5px 1.5px black;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
    padding-top: 1.5%;
}

.logoDivMenu a
{
    position: static;
    text-decoration: none;
    font-size: 45px;
    color: menu;
    display: inline-block;
    transition: 0.5s;
    padding-right: 5%;
    padding-left: 0.5%;
   }
.logoDivMenu .closebtn 
{
    position: fixed;
    top: 0;
    right: 55px;
    font-size: 50px;
    margin-left: 50px;
}       
    
#bmw 
{ 
    font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
    text-shadow: 2px 2px 10px black;
    background: rgba(0,0,0,0.3);
    color: white;
    margin-top: 5%;
    margin-right: 1%;
    margin-left: 1%;
    padding: 2%;
    height:400px;
    font-size: 21px;
    padding-top: 1px;
}
    
#table
{
   
   width:52%;
    margin-left: 49%;
    text-shadow: 2px 2px 2px black;
    box-shadow: 5px 5px 20px 7px black;
}
    
#tableb
{
   width:52%;
    margin-left: 49%;
    text-shadow: 2px 2px 2px black;
    box-shadow: 5px 5px 20px 7px black;
}
    
#table2
{
   width:52%;
    margin-left: 49%;
    text-shadow: 2px 2px 2px black;
    box-shadow: 5px 5px 20px 7px black;
}
    
#table9
{
   width:52%;
    margin-left: 49%;
    text-shadow: 2px 2px 2px black;
    box-shadow: 5px 5px 20px 7px black;
}
th 
{
    font-size: 17px;
    background-color: rgba(47, 47, 47, 0.6);
}
td
{
    background-color: rgba(47, 47, 47, 0.6);
}

.imgtable1
    {
        border-color:#80a2cb;
        border-width: 2px;
        box-shadow: 5px 5px 20px 7px black;
        position:absolute;
        width:550px;
        height: 360px;
        
    }

.imgtable2
    {
        
        border-color:#80a2cb;
        border-width: 2px;
        box-shadow: 5px 5px 20px 7px black;
        position:absolute;
        width:550px;
        height: 360px;
    }

.imgtableb
    {
        border-color:#80a2cb;
        border-width: 2px;
        box-shadow: 5px 5px 20px 7px black;
        position:absolute;
        width:550px;
        height: 360px;
    }
    
.imgtable9
    {
        border-color:#80a2cb;
        border-width: 2px;
        box-shadow: 5px 5px 20px 7px black;
        position:absolute;
        width:550px;
        height: 360px;
    }
.leftbtn
    { 
        cursor:pointer;
        position:absolute;
        z-index: 1;
        background-color: rgba(47, 47, 47, 0.27);
        font-size: 50px;
        margin-top: 10%;
    }
.rightbtn
    { 
        cursor:pointer;
        position:absolute;
        margin-left: 530px;
        z-index: 1;
        background-color:rgba(47, 47, 47, 0.27);
        font-size: 50px;
        margin-top: 10%;
    }
    
h1,h2
    {
       font-family: 'Orbitron', sans-serif;
    }
    
#displayText 
{
    color: whitesmoke;
    font-size: 35px;
    font-family: 'Orbitron', sans-serif;
    text-decoration:none;
}
    
#displayTextb 
{
    color: whitesmoke;
    font-size: 35px;
    font-family: 'Orbitron', sans-serif;
    text-decoration:none;
}
    
#displayTextg
{
    color: whitesmoke;
    font-size: 35px;
    font-family: 'Orbitron', sans-serif;
    text-decoration:none;
}
 
#displayText9
{
    color: whitesmoke;
    font-size: 35px;
    font-family: 'Orbitron', sans-serif;
    text-decoration:none;
}

#homePage {
    padding-left:1%;
    font:  Helvetica, Arial, Sans-Serif; 
    position:fixed;
    bottom:0;
    color: whitesmoke;
    background:none;
    font-size: 30px;
    text-shadow: 1.5px 1.5px black;
    }
   
    #homePage :hover { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); text-shadow: 3px 3px 3px #333; 
  font:  Helvetica, Arial, Sans-Serif;
  -webkit-transition: all 0.12s ease-out;
   -moz-transition: all 0.12s ease-out;
   -o-transition: all 0.12s ease-out;
   display:inline-block;
}
}

@media screen and (max-width:1243px) 
{
 .logoDivMenu  :nth-child(1) { font-size: 40px; letter-spacing: 1px;}
.logoDivMenu  :nth-child(2) { font-size: 40px; letter-spacing: 1px; }
.logoDivMenu  :nth-child(3) { font-size: 40px; letter-spacing: 1px; }
.logoDivMenu  :nth-child(4) { font-size: 40px; letter-spacing: 1px; }
.logoDivMenu  :nth-child(n) { font-size: 40px; letter-spacing: 1px; }
.logoDivMenu  :hover { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); text-shadow: 3px 3px 3px #333; }

 #logo 
{
    display:show;
width: 75px;
border-radius: 500px;
}

.logoDivMenu 
{
   text-transform: uppercase; font:  Helvetica, Arial, Sans-Serif;
  -webkit-transition: all 0.12s ease-out;
   -moz-transition: all 0.12s ease-out;
   -o-transition: all 0.12s ease-out;
    display: inline-block;
    height: 85px;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
   text-shadow:1.5px 1.5px black;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
    padding-top: 2%;
}

.logoDivMenu a
{
    position: static;
    text-decoration: none;
    font-size: 40px;
    color: menu;
    display: inline-block;
    transition: 0.5s;
    padding-right: 5%;
    padding-left: 0.5%;
   }
.logoDivMenu .closebtn 
{
    position: fixed;
    top: 0;
    right: 55px;
    font-size: 50px;
    margin-left: 50px;
} 
.mute {font:  Helvetica, Arial, Sans-Serif; 
display:block;
position:absolute;
     color: whitesmoke;
  margin-top: 0;
  margin-bottom:0;
        font-size: 27px;
    text-shadow: 1.5px 1.5px black;
}
.mute:active{color:#829292;}
.mute:hover { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); text-shadow: 3px 3px 3px #333; 
  font:  Helvetica, Arial, Sans-Serif;
  -webkit-transition: all 0.12s ease-out;
   -moz-transition: all 0.12s ease-out;
   -o-transition: all 0.12s ease-out;
   display:block;
   cursor:pointer;
}
#homePage {
    
    padding-left:1%;
             font:  Helvetica, Arial, Sans-Serif; 
     position:fixed;
    bottom:0;
     color: whitesmoke;
    background:none;
        font-size: 25px;
    text-shadow: 1.5px 1.5px black;
    }
   
    #homePage :hover { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); text-shadow: 3px 3px 3px #333; 
  font:  Helvetica, Arial, Sans-Serif;
  -webkit-transition: all 0.12s ease-out;
   -moz-transition: all 0.12s ease-out;
   -o-transition: all 0.12s ease-out;
   display:inline-block;
}
    
#bmw 
{ 
    font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
    text-shadow: 2px 2px 10px black;
    background: rgba(0,0,0,0.3);
    color: white;
    margin-top: 5%;
    margin-right: 1%;
    margin-left: 1%;
    padding: 2%;
    height:350px;
    font-size: 19px;
    padding-top: 1px;
}
    
#table
{
   
   width:47%;
    margin-left: 54%;
    text-shadow: 2px 2px 2px black;
    box-shadow: 5px 5px 20px 7px black;
}
    
#tableb
{
   width:47%;
    margin-left: 54%;
    text-shadow: 2px 2px 2px black;
    box-shadow: 5px 5px 20px 7px black;
}
    
#table2
{
   width:47%;
    margin-left: 54%;
    text-shadow: 2px 2px 2px black;
    box-shadow: 5px 5px 20px 7px black;
}
    
#table9
{
   width:47%;
    margin-left: 54%;
    text-shadow: 2px 2px 2px black;
    box-shadow: 5px 5px 20px 7px black;
}
th 
{
    font-size: 15px;
    background-color: rgba(47, 47, 47, 0.6);
}
td
{
    background-color: rgba(47, 47, 47, 0.6);
}

.imgtable1
    {
        border-color:#80a2cb;
        border-width: 2px;
        box-shadow: 5px 5px 20px 7px black;
        position:absolute;
        width:500px;
        height: 300px;
        
    }

.imgtable2
    {
        
        border-color:#80a2cb;
        border-width: 2px;
        box-shadow: 5px 5px 20px 7px black;
        position:absolute;
        width:500px;
        height: 300px;
    }

.imgtableb
    {
        border-color:#80a2cb;
        border-width: 2px;
        box-shadow: 5px 5px 20px 7px black;
        position:absolute;
        width:500px;
        height: 300px;
    }
    
.imgtable9
    {
        border-color:#80a2cb;
        border-width: 2px;
        box-shadow: 5px 5px 20px 7px black;
        position:absolute;
        width:500px;
        height: 300px;
    }
.leftbtn
    { 
        cursor:pointer;
        position:absolute;
        z-index: 1;
        background-color: rgba(47, 47, 47, 0.27);
        font-size: 50px;
        margin-top: 10%;
    }
.rightbtn
    { 
        cursor:pointer;
        position:absolute;
        margin-left: 480px;
        z-index: 1;
        background-color:rgba(47, 47, 47, 0.27);
        font-size: 50px;
        margin-top: 10%;
    }
    
h1,h2
    {
       font-family: 'Orbitron', sans-serif;
    }
    
#displayText 
{
    color: whitesmoke;
    font-size: 30px;
    font-family: 'Orbitron', sans-serif;
    text-decoration:none;
}
    
#displayTextb 
{
    color: whitesmoke;
    font-size: 30px;
    font-family: 'Orbitron', sans-serif;
    text-decoration:none;
}
    
#displayTextg
{
    color: whitesmoke;
    font-size: 30px;
    font-family: 'Orbitron', sans-serif;
    text-decoration:none;
}
 
#displayText9
{
    color: whitesmoke;
    font-size: 30px;
    font-family: 'Orbitron', sans-serif;
    text-decoration:none;
}

}

@media screen and  (max-width:1160px)
{

 .logoDivMenu  :nth-child(1) { font-size: 35px; letter-spacing: 1px;}
.logoDivMenu  :nth-child(2) { font-size: 35px; letter-spacing: 1px; }
.logoDivMenu  :nth-child(3) { font-size: 35px; letter-spacing: 1px; }
.logoDivMenu  :nth-child(4) { font-size: 35px; letter-spacing: 1px; }
.logoDivMenu  :nth-child(n) { font-size: 35px; letter-spacing: 1px; }
.logoDivMenu  :hover { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); text-shadow: 3px 3px 3px #333; }

 #logo 
{
    display:show;
width: 70px;
border-radius: 500px;
}

.logoDivMenu 
{
   text-transform: uppercase; font:  Helvetica, Arial, Sans-Serif;
  -webkit-transition: all 0.12s ease-out;
   -moz-transition: all 0.12s ease-out;
   -o-transition: all 0.12s ease-out;
    display: inline-block;
    height: 85px;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
   text-shadow:1.5px 1.5px black;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
    padding-top: 2.5%;
}

.logoDivMenu a
{
    position: static;
    text-decoration: none;
    font-size: 35px;
    color: menu;
    display: inline-block;
    transition: 0.5s;
    padding-right: 3%;
    padding-left: 0.5%;
   }
.logoDivMenu .closebtn 
{
  
    position: fixed;
    top: 0;
    right: 55px;
    font-size: 50px;
    margin-left: 50px;
}       
.mute {font:  Helvetica, Arial, Sans-Serif; 
display:block;
position:absolute;
     color: whitesmoke;
  margin-top: 0;
  margin-bottom:0;
        font-size: 25px;
    text-shadow: 1.5px 1.5px black;
}
.mute:active{color:#829292;}
.mute:hover { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); text-shadow: 3px 3px 3px #333; 
  font:  Helvetica, Arial, Sans-Serif;
  -webkit-transition: all 0.12s ease-out;
   -moz-transition: all 0.12s ease-out;
   -o-transition: all 0.12s ease-out;
   display:block;
   cursor:pointer;
}
#homePage {
    
    padding-left:1%;
             font:  Helvetica, Arial, Sans-Serif; 
     position:fixed;
    bottom:0;
     color: whitesmoke;
    background:none;
        font-size: 20px;
    text-shadow: 1.5px 1.5px black;
    }
   
    #homePage :hover { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); text-shadow: 3px 3px 3px #333; 
  font:  Helvetica, Arial, Sans-Serif;
  -webkit-transition: all 0.12s ease-out;
   -moz-transition: all 0.12s ease-out;
   -o-transition: all 0.12s ease-out;
   display:inline-block;
}
    
#bmw 
{ 
    font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
    text-shadow: 2px 2px 10px black;
    background: rgba(0,0,0,0.3);
    color: white;
    margin-top: 5%;
    margin-right: 1%;
    margin-left: 1%;
    padding: 2%;
    height:300px;
    font-size: 15px;
    padding-top: 1px;
}
    
#table
{
   
   width:45%;
    margin-left: 56%;
    text-shadow: 2px 2px 2px black;
    box-shadow: 5px 5px 20px 7px black;
}
    
#tableb
{
   width:45%;
    margin-left: 56%;
    text-shadow: 2px 2px 2px black;
    box-shadow: 5px 5px 20px 7px black;
}
    
#table2
{
   width:45%;
    margin-left: 56%;
    text-shadow: 2px 2px 2px black;
    box-shadow: 5px 5px 20px 7px black;
}
    
#table9
{
   width:45%;
    margin-left: 56%;
    text-shadow: 2px 2px 2px black;
    box-shadow: 5px 5px 20px 7px black;
}
th 
{
    font-size: 13px;
    background-color: rgba(47, 47, 47, 0.6);
}
td
{
    background-color: rgba(47, 47, 47, 0.6);
}

.imgtable1
    {
        border-color:#80a2cb;
        border-width: 2px;
        box-shadow: 5px 5px 20px 7px black;
        position:absolute;
        width:450px;
        height: 260px;
        
    }

.imgtable2
    {
        
        border-color:#80a2cb;
        border-width: 2px;
        box-shadow: 5px 5px 20px 7px black;
        position:absolute;
        width:450px;
        height: 260px;
    }

.imgtableb
    {
        border-color:#80a2cb;
        border-width: 2px;
        box-shadow: 5px 5px 20px 7px black;
        position:absolute;
        width:450px;
        height: 260px;
    }
    
.imgtable9
    {
        border-color:#80a2cb;
        border-width: 2px;
        box-shadow: 5px 5px 20px 7px black;
        position:absolute;
        width:450px;
        height: 260px;
    }
.leftbtn
    { 
        cursor:pointer;
        position:absolute;
        z-index: 1;
        background-color: rgba(47, 47, 47, 0.27);
        font-size: 50px;
        margin-top: 10%;
    }
.rightbtn
    { 
        cursor:pointer;
        position:absolute;
        margin-left: 430px;
        z-index: 1;
        background-color:rgba(47, 47, 47, 0.27);
        font-size: 50px;
        margin-top: 10%;
    }
    
h1,h2
    {
       font-family: 'Orbitron', sans-serif;
    }
    
#displayText 
{
    color: whitesmoke;
    font-size: 25px;
    font-family: 'Orbitron', sans-serif;
    text-decoration:none;
}
    
#displayTextb 
{
    color: whitesmoke;
    font-size: 25px;
    font-family: 'Orbitron', sans-serif;
    text-decoration:none;
}
    
#displayTextg
{
    color: whitesmoke;
    font-size: 25px;
    font-family: 'Orbitron', sans-serif;
    text-decoration:none;
}
 
#displayText9
{
    color: whitesmoke;
    font-size: 25px;
    font-family: 'Orbitron', sans-serif;
    text-decoration:none;
}    
}

@media screen and (max-width:1110px)
{
 .logoDivMenu  :nth-child(1) { font-size: 30px; letter-spacing: 1px;}
.logoDivMenu  :nth-child(2) { font-size: 30px; letter-spacing: 1px; }
.logoDivMenu  :nth-child(3) { font-size: 30px; letter-spacing: 1px; }
.logoDivMenu  :nth-child(4) { font-size: 30px; letter-spacing: 1px; }
.logoDivMenu  :nth-child(n) { font-size: 30px; letter-spacing: 1px; }
.logoDivMenu  :hover { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); text-shadow: 3px 3px 3px #333; }

 #logo 
{
    display:show;
width: 65px;
border-radius: 500px;
}

.logoDivMenu 
{
   text-transform: uppercase; font:  Helvetica, Arial, Sans-Serif;
  -webkit-transition: all 0.12s ease-out;
   -moz-transition: all 0.12s ease-out;
   -o-transition: all 0.12s ease-out;
    display: inline-block;
    height: 85px;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
   text-shadow:1.5px 1.5px black;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
    padding-top: 3%;
}

.logoDivMenu a
{
    position: static;
    text-decoration: none;
    font-size: 30px;
    color: menu;
    display: inline-block;
    transition: 0.5s;
    padding-right: 4%;
    padding-left: 0.5%;
   }
.logoDivMenu .closebtn 
{
    position: fixed;
    top: 0;
    right: 55px;
    font-size: 50px;
    margin-left: 50px;
}       
.mute {font:  Helvetica, Arial, Sans-Serif; 
display:block;
position:absolute;
     color: whitesmoke;
  margin-top: 0;
  margin-bottom:0;
        font-size: 23px;
    text-shadow: 1.5px 1.5px black;
}
.mute:active{color:#829292;}
.mute:hover { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); text-shadow: 3px 3px 3px #333; 
  font:  Helvetica, Arial, Sans-Serif;
  -webkit-transition: all 0.12s ease-out;
   -moz-transition: all 0.12s ease-out;
   -o-transition: all 0.12s ease-out;
   display:block;
   cursor:pointer;
 
}
#homePage {
    
    padding-left:1%;
             font:  Helvetica, Arial, Sans-Serif; 
     position:fixed;
    bottom:0;
     color: whitesmoke;
    background:none;
        font-size: 18px;
    text-shadow: 1.5px 1.5px black;
    }
   
    #homePage :hover { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); text-shadow: 3px 3px 3px #333; 
  font:  Helvetica, Arial, Sans-Serif;
  -webkit-transition: all 0.12s ease-out;
   -moz-transition: all 0.12s ease-out;
   -o-transition: all 0.12s ease-out;
   display:inline-block;
}
    
#bmw 
{ 
    font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
    text-shadow: 2px 2px 10px black;
    background: rgba(0,0,0,0.3);
    color: white;
    margin-top: 5%;
    margin-right: 1%;
    margin-left: 1%;
    padding: 2%;
    height:280px;
    font-size: 13px;
    padding-top: 1px;
}
    
#table
{
   
   width:45%;
    margin-left: 55%;
    text-shadow: 2px 2px 2px black;
    box-shadow: 5px 5px 20px 7px black;
}
    
#tableb
{
   width:45%;
    margin-left: 55%;
    text-shadow: 2px 2px 2px black;
    box-shadow: 5px 5px 20px 7px black;
}
    
#table2
{
   width:45%;
    margin-left: 55%;
    text-shadow: 2px 2px 2px black;
    box-shadow: 5px 5px 20px 7px black;
}
    
#table9
{
   width:45%;
    margin-left: 55%;
    text-shadow: 2px 2px 2px black;
    box-shadow: 5px 5px 20px 7px black;
}
th 
{
    font-size: 11px;
    background-color: rgba(47, 47, 47, 0.6);
}
td
{
    background-color: rgba(47, 47, 47, 0.6);
}

.imgtable1
    {
        border-color:#80a2cb;
        border-width: 2px;
        box-shadow: 5px 5px 20px 7px black;
        position:absolute;
        width:400px;
        height: 250px;
        
    }

.imgtable2
    {
        
        border-color:#80a2cb;
        border-width: 2px;
        box-shadow: 5px 5px 20px 7px black;
        position:absolute;
        width:400px;
        height: 250px;
    }

.imgtableb
    {
        border-color:#80a2cb;
        border-width: 2px;
        box-shadow: 5px 5px 20px 7px black;
        position:absolute;
        width:400px;
        height: 250px;
    }
    
.imgtable9
    {
        border-color:#80a2cb;
        border-width: 2px;
        box-shadow: 5px 5px 20px 7px black;
        position:absolute;
        width:400px;
        height: 250px;
    }
.leftbtn
    { 
        cursor:pointer;
        position:absolute;
        z-index: 1;
        background-color: rgba(47, 47, 47, 0.27);
        font-size: 40px;
        margin-top: 10%;
    }
.rightbtn
    { 
        cursor:pointer;
        position:absolute;
        margin-left: 380px;
        z-index: 1;
        background-color:rgba(47, 47, 47, 0.27);
        font-size: 40px;
        margin-top: 10%;
    }
    
h1,h2
    {
       font-family: 'Orbitron', sans-serif;
    }
    
#displayText 
{
    color: whitesmoke;
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
    text-decoration:none;
}
    
#displayTextb 
{
    color: whitesmoke;
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
    text-decoration:none;
}
    
#displayTextg
{
    color: whitesmoke;
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
    text-decoration:none;
}
 
#displayText9
{
    color: whitesmoke;
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
    text-decoration:none;
}  
}

@media screen and (max-width:888px)
{
.logoDivMenu  :nth-child(1) { font-size: 25px; letter-spacing: 1px;}
.logoDivMenu  :nth-child(2) { font-size: 25px; letter-spacing: 1px; }
.logoDivMenu  :nth-child(3) { font-size: 25px; letter-spacing: 1px; }
.logoDivMenu  :nth-child(4) { font-size: 25px; letter-spacing: 1px; }
.logoDivMenu  :nth-child(n) { font-size: 25px; letter-spacing: 1px; }
.logoDivMenu  :hover { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); text-shadow: 3px 3px 3px #333; }

  .logoDivMenu {padding-top: 10px;}
  .logoDivMenu a {font-size: 18px;}
  
 #logo 
{
    display:show;
width: 60px;
border-radius: 500px;
}

.logoDivMenu 
{
   text-transform: uppercase; font:  Helvetica, Arial, Sans-Serif;
  -webkit-transition: all 0.12s ease-out;
   -moz-transition: all 0.12s ease-out;
   -o-transition: all 0.12s ease-out;
    display: inline-block;
    height: 85px;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
   text-shadow:1.5px 1.5px black;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
    padding-top: 3%;
}

.logoDivMenu a
{
    position: static;
    text-decoration: none;
    font-size: 25px;
    color: menu;
    display: inline-block;
    transition: 0.5s;
    padding-right: 4%;
    padding-left: 0.5%;
   }
.logoDivMenu .closebtn 
{
    position: fixed;
    top: 0;
    right: 55px;
    font-size: 50px;
    margin-left: 50px;
}       
.mute {font:  Helvetica, Arial, Sans-Serif; 
display:block;
position:absolute;
     color: whitesmoke;
  margin-top: 0;
  margin-bottom:0;
        font-size: 21px;
    text-shadow: 1.5px 1.5px black;
}
.mute:active{color:#829292;}
.mute:hover { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); text-shadow: 3px 3px 3px #333; 
  font:  Helvetica, Arial, Sans-Serif;
  -webkit-transition: all 0.12s ease-out;
   -moz-transition: all 0.12s ease-out;
   -o-transition: all 0.12s ease-out;
   display:block;
   cursor:pointer;
 
}
#homePage {
    padding-left:1%;
             font:  Helvetica, Arial, Sans-Serif; 
     position:fixed;
    bottom:0;
     color: whitesmoke;
    background:none;
        font-size: 15px;
    text-shadow: 1.5px 1.5px black;
    }
   
    #homePage :hover { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); text-shadow: 3px 3px 3px #333; 
  font:  Helvetica, Arial, Sans-Serif;
  -webkit-transition: all 0.12s ease-out;
   -moz-transition: all 0.12s ease-out;
   -o-transition: all 0.12s ease-out;
   display:inline-block;
}
    
#bmw 
{ 
    font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
    text-shadow: 2px 2px 10px black;
    background: rgba(0,0,0,0.3);
    color: white;
    margin-top: 5%;
    margin-right: 1%;
    margin-left: 1%;
    padding: 2%;
    height:230px;
    font-size: 10px;
    padding-top: 1px;
    width:320px;
    margin-bottom: 80%;
}
    
#table
{
   margin-top:70%;
    margin-left: 0%;
    text-shadow: 2px 2px 2px black;
    box-shadow: 5px 5px 20px 7px black;
   width:100%;
   
     
   
}
    
#tableb
{
    margin-top:70%;
    margin-left: 0%;
    text-shadow: 2px 2px 2px black;
    box-shadow: 5px 5px 20px 7px black;
   width:100%;
}
    
#table2
{
    margin-top:70%;
    margin-left: 0%;
    text-shadow: 2px 2px 2px black;
    box-shadow: 5px 5px 20px 7px black;
   width:100%;
}
    
#table9
{
    margin-top:70%;
    margin-left: 0%;
    text-shadow: 2px 2px 2px black;
    box-shadow: 5px 5px 20px 7px black;
   width:100%;
}
th 
{
    font-size: 10px;
    background-color: rgba(47, 47, 47, 0.6);
}
td
{
    background-color: rgba(47, 47, 47, 0.6);
}

.imgtable1
    {
        border-color:#80a2cb;
        border-width: 2px;
        box-shadow: 5px 5px 20px 7px black;
        position:absolute;
        width:300px;
        height: 200px;
        
    }

.imgtable2
    {
        
        border-color:#80a2cb;
        border-width: 2px;
        box-shadow: 5px 5px 20px 7px black;
        position:absolute;
        width:300px;
        height: 200px;
    }

.imgtableb
    {
        border-color:#80a2cb;
        border-width: 2px;
        box-shadow: 5px 5px 20px 7px black;
        position:absolute;
        width:300px;
        height: 200px;
    }
    
.imgtable9
    {
        border-color:#80a2cb;
        border-width: 2px;
        box-shadow: 5px 5px 20px 7px black;
        position:absolute;
        width:300px;
        height: 200px;
    }
.leftbtn
    { 
        cursor:pointer;
        position:absolute;
        z-index: 1;
        background-color: rgba(47, 47, 47, 0.27);
        font-size: 30px;
        margin-top: 10%;
    }
.rightbtn
    { 
        cursor:pointer;
        position:absolute;
        margin-left:285px;
        z-index: 1;
        background-color:rgba(47, 47, 47, 0.27);
        font-size: 30px;
        margin-top: 10%;
    }
    
h1,h2
    {
       font-family: 'Orbitron', sans-serif;
    }
    
#displayText 
{
    color: whitesmoke;
    font-size: 15px;
    font-family: 'Orbitron', sans-serif;
    text-decoration:none;
}
    
#displayTextb 
{
    color: whitesmoke;
    font-size: 15px;
    font-family: 'Orbitron', sans-serif;
    text-decoration:none;
}
    
#displayTextg
{
    color: whitesmoke;
    font-size: 15px;
    font-family: 'Orbitron', sans-serif;
    text-decoration:none;
}
 
#displayText9
{
    color: whitesmoke;
    font-size: 15px;
    font-family: 'Orbitron', sans-serif;
    text-decoration:none;
}  
}

@media screen and (max-width:817px)
{
.logoDivMenu  :nth-child(1) { font-size: 25px; letter-spacing: 1px;}
.logoDivMenu  :nth-child(2) { font-size: 25px; letter-spacing: 1px; }
.logoDivMenu  :nth-child(3) { font-size: 25px; letter-spacing: 1px; }
.logoDivMenu  :nth-child(4) { font-size: 25px; letter-spacing: 1px; }
.logoDivMenu  :nth-child(n) { font-size: 25px; letter-spacing: 1px; }
.logoDivMenu  :hover { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); text-shadow: 3px 3px 3px #333; }

 #logo 
{
    display:show;
width: 55px;
border-radius: 500px;
}

.logoDivMenu 
{
   text-transform: uppercase; font:  Helvetica, Arial, Sans-Serif;
  -webkit-transition: all 0.12s ease-out;
   -moz-transition: all 0.12s ease-out;
   -o-transition: all 0.12s ease-out;
    display: inline-block;
    height: 85px;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
   text-shadow:1.5px 1.5px black;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
    padding-top:3%;
}

.logoDivMenu a
{
    position: static;
    text-decoration: none;
    font-size: 25px;
    color: menu;
    display: inline-block;
    transition: 0.5s;
    padding-right: 4%;
    padding-left: 0.5%;
   }
.logoDivMenu .closebtn 
{
    position: fixed;
    top: 0;
    right: 55px;
    font-size: 50px;
    margin-left: 50px;
}       
.mute {font:  Helvetica, Arial, Sans-Serif; 
display:block;
position:absolute;
     color: whitesmoke;
  margin-top: 0;
  margin-bottom:0;
        font-size: 19px;
    text-shadow: 1.5px 1.5px black;
}
.mute:active{color:#829292;}
.mute:hover { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); text-shadow: 3px 3px 3px #333; 
  font:  Helvetica, Arial, Sans-Serif;
  -webkit-transition: all 0.12s ease-out;
   -moz-transition: all 0.12s ease-out;
   -o-transition: all 0.12s ease-out;
   display:block;
   cursor:pointer;
}
#homePage {
    
    padding-left:1%;
             font:  Helvetica, Arial, Sans-Serif; 
     position:fixed;
    bottom:0;
     color: whitesmoke;
    background:none;
        font-size: 13px;
    text-shadow: 1.5px 1.5px black;
    }
   
    #homePage :hover { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); text-shadow: 3px 3px 3px #333; 
  font:  Helvetica, Arial, Sans-Serif;
  -webkit-transition: all 0.12s ease-out;
   -moz-transition: all 0.12s ease-out;
   -o-transition: all 0.12s ease-out;
   display:inline-block;
}
}

@media screen and (max-width: 800px)
{
.logoDivMenu  :nth-child(1) { font-size: 25px; letter-spacing: 1px;}
.logoDivMenu  :nth-child(2) { font-size: 25px; letter-spacing: 1px; }
.logoDivMenu  :nth-child(3) { font-size: 25px; letter-spacing: 1px; }
.logoDivMenu  :nth-child(4) { font-size: 25px; letter-spacing: 1px; }
.logoDivMenu  :nth-child(n) { font-size: 25px; letter-spacing: 1px; }
.logoDivMenu  :hover { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); text-shadow: 3px 3px 3px #333; }
  
 #logo 
{
    display:show;
width: 55px;
border-radius: 500px;
}

.logoDivMenu 
{
   text-transform: uppercase; font:  Helvetica, Arial, Sans-Serif;
  -webkit-transition: all 0.12s ease-out;
   -moz-transition: all 0.12s ease-out;
   -o-transition: all 0.12s ease-out;
    display: inline-block;
    height: 85px;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
   text-shadow:1.5px 1.5px black;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
    padding-top: 3%;
}

.logoDivMenu a
{
    position: static;
    text-decoration: none;
    font-size: 25px;
    color: menu;
    display: inline-block;
    transition: 0.5s;
    padding-right: 2%;
    padding-left: 1.9%;
   }
.logoDivMenu .closebtn 
{
    position: fixed;
    top: 0;
    right: 55px;
    font-size: 50px;
    margin-left: 50px;
}       
#homePage {
    padding-left:1%;
             font:  Helvetica, Arial, Sans-Serif; 
     position:fixed;
    bottom:0;
     color: whitesmoke;
    background:none;
        font-size: 11px;
    text-shadow: 1.5px 1.5px black;
    }
   
    #homePage :hover { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); text-shadow: 3px 3px 3px #333; 
  font:  Helvetica, Arial, Sans-Serif;
  -webkit-transition: all 0.12s ease-out;
   -moz-transition: all 0.12s ease-out;
   -o-transition: all 0.12s ease-out;
   display:inline-block;
}
}

@media screen and (max-width: 657px)
{
.logoDivMenu  :nth-child(1) { font-size: 22px; letter-spacing: 0px;}
.logoDivMenu  :nth-child(2) { font-size: 22px; letter-spacing: 0px; }
.logoDivMenu  :nth-child(3) { font-size: 22px; letter-spacing: 0px; }
.logoDivMenu  :nth-child(4) { font-size: 22px; letter-spacing: 0px; }
.logoDivMenu  :nth-child(n) { font-size: 22px; letter-spacing: 0px; }
.logoDivMenu  :hover { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); text-shadow: 3px 3px 3px #333; }
 
 #logo 
{
    display:show;
width: 50px;
border-radius: 500px;
}

.logoDivMenu 
{
   text-transform: uppercase; font:  Helvetica, Arial, Sans-Serif;
  -webkit-transition: all 0.12s ease-out;
   -moz-transition: all 0.12s ease-out;
   -o-transition: all 0.12s ease-out;
    display: inline-block;
    height: 85px;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
   text-shadow:1.5px 1.5px black;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
    padding-top: 3%;
}

.logoDivMenu a
{
    position: static;
    text-decoration: none;
    font-size: 20px;
    color: menu;
    display: inline-block;
    transition: 0.5s;
    padding-right: 2%;
    padding-left: 1%;
   }
.logoDivMenu .closebtn 
{
    position: fixed;
    top: 0;
    right: 55px;
    font-size: 50px;
    margin-left: 50px;
}       
.mute {font:  Helvetica, Arial, Sans-Serif; 
display:block;
position:absolute;
     color: whitesmoke;
  margin-top: 0;
  margin-bottom:0;
        font-size: 17px;
    text-shadow: 1.5px 1.5px black;
}
.mute:active{color:#829292;}
.mute:hover { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); text-shadow: 3px 3px 3px #333; 
  font:  Helvetica, Arial, Sans-Serif;
  -webkit-transition: all 0.12s ease-out;
   -moz-transition: all 0.12s ease-out;
   -o-transition: all 0.12s ease-out;
   display:block;
   cursor:pointer;
}
#homePage {
    
    padding-left:1%;
             font:  Helvetica, Arial, Sans-Serif; 
     position:fixed;
    bottom:0;
     color: whitesmoke;
    background:none;
        font-size: 10px;
    text-shadow: 1.5px 1.5px black;
    }
   
    #homePage :hover { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); text-shadow: 3px 3px 3px #333; 
  font:  Helvetica, Arial, Sans-Serif;
  -webkit-transition: all 0.12s ease-out;
   -moz-transition: all 0.12s ease-out;
   -o-transition: all 0.12s ease-out;
   display:inline-block;
}
}

@media screen and (max-width: 521px)
{
.logoDivMenu  :nth-child(1) { font-size: 20px; letter-spacing: 0px;}
.logoDivMenu  :nth-child(2) { font-size: 20px; letter-spacing: 0px; }
.logoDivMenu  :nth-child(3) { font-size: 20px; letter-spacing: 0px; }
.logoDivMenu  :nth-child(4) { font-size: 20px; letter-spacing: 0px; }
.logoDivMenu  :nth-child(n) { font-size: 20px; letter-spacing: 0px; }
.logoDivMenu  :hover { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); text-shadow: 3px 3px 3px #333; }

 #logo 
{
    display:show;
width: 40px;
border-radius: 500px;
}

.logoDivMenu 
{
   text-transform: uppercase; font:  Helvetica, Arial, Sans-Serif;
  -webkit-transition: all 0.12s ease-out;
   -moz-transition: all 0.12s ease-out;
   -o-transition: all 0.12s ease-out;
    display: inline-block;
    height: 85px;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
text-shadow:1.5px 1.5px black;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
    padding-top:3%;
}

.logoDivMenu a
{
    position: relative;
    text-decoration: none;
    font-size: 20px;
    color: menu;
    display: inline-block;
    transition: 0.5s;
    padding-right: 2%;
    padding-left: 1%;
   }
.logoDivMenu .closebtn 
{
    position: fixed;
    top: 0;
    right: 55px;
    font-size: 50px;
    margin-left: 10px;
}       
.mute {font:  Helvetica, Arial, Sans-Serif; 
display:block;
position:absolute;
     color: whitesmoke;
  margin-top: 0;
  margin-bottom:0;
        font-size: 15px;
    text-shadow: 1.5px 1.5px black;
}
.mute:active{color:#829292;}
.mute:hover { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); text-shadow: 3px 3px 3px #333; 
  font:  Helvetica, Arial, Sans-Serif;
  -webkit-transition: all 0.12s ease-out;
   -moz-transition: all 0.12s ease-out;
   -o-transition: all 0.12s ease-out;
   display:block;
   cursor:pointer;
}
#homePage {
    padding-left:1%;
             font:  Helvetica, Arial, Sans-Serif; 
     position:fixed;
    bottom:0;
     color: whitesmoke;
    background:none;
        font-size: 9px;
    text-shadow: 1.5px 1.5px black;
    }
   
    #homePage :hover { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); text-shadow: 3px 3px 3px #333; 
  font:  Helvetica, Arial, Sans-Serif;
  -webkit-transition: all 0.12s ease-out;
   -moz-transition: all 0.12s ease-out;
   -o-transition: all 0.12s ease-out;
   display:inline-block;
}
}

@media screen and  (max-width:500px)
{
.logoDivMenu  :nth-child(1) { font-size: 15px; letter-spacing: 0px;}
.logoDivMenu  :nth-child(2) { font-size: 15px; letter-spacing: 0px; }
.logoDivMenu  :nth-child(3) { font-size: 15px; letter-spacing: 0px; }
.logoDivMenu  :nth-child(4) { font-size: 15px; letter-spacing: 0px; }
.logoDivMenu  :nth-child(n) { font-size: 15px; letter-spacing: 0px; }
.logoDivMenu  :hover { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); text-shadow: 3px 3px 3px #333; }

 #logo 
{
    display:show;
width: 35px;
border-radius: 500px;
}

.logoDivMenu 
{
   text-transform: uppercase; font:  Helvetica, Arial, Sans-Serif;
  -webkit-transition: all 0.12s ease-out;
   -moz-transition: all 0.12s ease-out;
   -o-transition: all 0.12s ease-out;
    display: inline-block;
    height: 85px;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
text-shadow:1.5px 1.5px black;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
    padding-top: 4%;
}

.logoDivMenu a
{
    position: relative;
    text-decoration: none;
    font-size: 15px;
    color: menu;
    display: inline-block;
    transition: 0.5s;
    padding-right: 0%;
    padding-left: 3%;
   }
.logoDivMenu .closebtn 
{
    position: fixed;
    top: 0;
    right: 55px;
    font-size: 50px;
    margin-left: 10px;
}       
.mute {font:  Helvetica, Arial, Sans-Serif; 
display:block;
position:absolute;
     color: whitesmoke;
  margin-top: 0;
  margin-bottom:0;
        font-size: 13px;
    text-shadow: 1.5px 1.5px black;
}
.mute:active{color:#829292;}
.mute:hover { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); text-shadow: 3px 3px 3px #333; 
  font:  Helvetica, Arial, Sans-Serif;
  -webkit-transition: all 0.12s ease-out;
   -moz-transition: all 0.12s ease-out;
   -o-transition: all 0.12s ease-out;
   display:block;
   cursor:pointer;
}
#homePage {
    padding-left:1%;
             font:  Helvetica, Arial, Sans-Serif; 
     position:fixed;
    bottom:0;
     color: whitesmoke;
    background:none;
        font-size: 8px;
    text-shadow: 1.5px 1.5px black;
    }
   
    #homePage :hover { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); text-shadow: 3px 3px 3px #333; 
  font:  Helvetica, Arial, Sans-Serif;
  -webkit-transition: all 0.12s ease-out;
   -moz-transition: all 0.12s ease-out;
   -o-transition: all 0.12s ease-out;
   display:inline-block;
}
}

@media screen and (max-width:351px)
{
.logoDivMenu  :nth-child(1) { font-size: 10px; letter-spacing: 0px;}
.logoDivMenu  :nth-child(2) { font-size: 10px; letter-spacing: 0px; }
.logoDivMenu  :nth-child(3) { font-size: 10px; letter-spacing: 0px; }
.logoDivMenu  :nth-child(4) { font-size: 10px; letter-spacing: 0px; }
.logoDivMenu  :nth-child(n) { font-size: 10px; letter-spacing: 0px; }
.logoDivMenu  :hover { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); text-shadow: 3px 3px 3px #333; }

 #logo 
{
    display:show;
width: 30px;
border-radius: 500px;
}

.logoDivMenu 
{
   text-transform: uppercase; font:  Helvetica, Arial, Sans-Serif;
  -webkit-transition: all 0.12s ease-out;
   -moz-transition: all 0.12s ease-out;
   -o-transition: all 0.12s ease-out;
    display: inline-block;
    height: 85px;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
text-shadow:1.5px 1.5px black;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
    padding-top: 5%;
}

.logoDivMenu a
{
    position: relative;
    text-decoration: none;
    font-size: 10px;
    color: menu;
    display: inline-block;
    transition: 0.5s;
    padding-right: 1%;
    padding-left: 4%;
   }
.logoDivMenu .closebtn 
{
    position: fixed;
    top: 0;
    right: 55px;
    font-size: 50px;
    margin-left: 10px;
}       
.mute {font:  Helvetica, Arial, Sans-Serif; 
display:block;
position:absolute;
     color: whitesmoke;
  margin-top: 0;
  margin-bottom:0;
        font-size: 10px;
    text-shadow: 1.5px 1.5px black;
}
.mute:active{color:#829292;}
.mute:hover { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); text-shadow: 3px 3px 3px #333; 
  font:  Helvetica, Arial, Sans-Serif;
  -webkit-transition: all 0.12s ease-out;
   -moz-transition: all 0.12s ease-out;
   -o-transition: all 0.12s ease-out;
   display:block;
   cursor:pointer;
}
#homePage {
    padding-left:1%;
             font:  Helvetica, Arial, Sans-Serif; 
     position:fixed;
    bottom:0;
     color: whitesmoke;
    background:none;
        font-size: 7px;
    text-shadow: 1.5px 1.5px black;
    }
   
    #homePage :hover { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); text-shadow: 3px 3px 3px #333; 
  font:  Helvetica, Arial, Sans-Serif;
  -webkit-transition: all 0.12s ease-out;
   -moz-transition: all 0.12s ease-out;
   -o-transition: all 0.12s ease-out;
   display:inline-block;
}
}

/*@media (min-width:320px) { /* smartphones, iPhone, portrait 480x320 phones */ } */
/*@media (min-width:481px) { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ } */
/*@media (min-width:641px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ } */
/*@media (min-width:961px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ } */
/*@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ } */
/*@media (min-width:1281px) { /* hi-res laptops and desktops */ }  */



